.gitImage {
	width:100px;
	height:100px;
}

body {
	background-color: #E8E8E8;
}

p {
	height:100px;
}
.entry {
	margin-bottom: 20px;
}

.jumbotron {
	background-color: #5D5D5D
}
.jumbotron h2, .jumbotron small {
	color: white;
}
